<!DOCTYPE html>
<html>
	<head>
		<title>Register</title>
		<link rel="stylesheet" href="../static/style.css" />
	</head>
	<body>
		<p class="msg">{{msg}}</p>
		<div class="login-reg-container">
			<h1 class="login-reg">Register</h1>
			<hr>
			<div class="links">
				<a href="{{url_for('login')}}">login</a>
				<a href="{{url_for('register')}}" class="active">register</a>
			</div>
			<form method="POST" action="{{url_for('register')}}" autocomplete="off">
				<input id="user_name" type="text" name="user_name" required placeholder="User Name"><br>
				<input id="email" type="email" name="email" required placeholder="email"><br>
				<input id="password" type="password" name="password" required placeholder="Password"><br><br>
				<input type="submit" value="Register" class="submit">
			</form>
		</div>
	</body>
</html>

